In [3]:
from tqdm import tqdm_notebook as tqdm

import numpy as np
import pandas as pd

from transformers import BertTokenizer

In [1]:
import sys
sys.path.append('../')
from tools.tokenizers import myRobertaByteLevelBPETokenizer

my_tokenizer = myRobertaByteLevelBPETokenizer(   
    vocab_file='../inputs/datasets/roberta/tokenizer/vocab.json',
    merges_file='../inputs/datasets/roberta/tokenizer/merges.txt',
    lowercase=True,
    add_prefix_space=False)

In [6]:
my_tokenizer.encode('neutral', pair='green').ids

[12516, 12354]

In [7]:
my_tokenizer.decode([12516])

'neutral'

In [64]:
import sys
sys.path.append('../')
from tools.tokenizers import myRobertaByteLevelBPETokenizer

my_tokenizer = myRobertaByteLevelBPETokenizer(   
    vocab_file='../inputs/datasets/roberta/tokenizer/vocab.json',
    merges_file='../inputs/datasets/roberta/tokenizer/merges.txt',
    lowercase=True,
    add_prefix_space=False)

In [112]:
my_tokenizer.encode("morning...happy mommas").ids

[24863, 734, 27333, 3795, 13738]

In [113]:
my_tokenizer.decode([27333])

'happy'

In [80]:
trn_df.query('textID == "14f5671d0a"')

           textID                             text selected_text sentiment
15883  14f5671d0a  Studying for my exams....boring        boring  negative

In [84]:
my_tokenizer.encode("boring").ids

[12514, 154]

In [106]:
'exams....boring'.split()

['exams....boring']