In [66]:
from glob import glob
from tqdm import tqdm_notebook as tqdm

import numpy as np
import pandas as pd

import torch

from matplotlib import pyplot as plt
import seaborn as sns

from transformers import BertTokenizer, BertModel, RobertaModel

pd.set_option("display.max_rows", 300)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))
%config InlineBackend.figure_formats = {'png', 'retina'}

## noise analysis

In [2]:
trn_df = pd.read_csv('../inputs/nes_info/e080_dataset_trn_df.csv').dropna()
display(trn_df.shape, trn_df.head())

(27423, 12)

,textID,text,selected_text,sentiment,my_text,my_selected_text,my_text_eq_my_selected_text,predicted_texts,manual_selected_text,selected_text_lower,manual_and_selected_intersection_len,manual_and_selected_tokenized_intersection_len
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,"I`d have responded, if I were going","I`d have responded, if I were going",True,"i`d have responded, if i were going","i`d have responded, if i were going","i`d have responded, if i were going",7,9
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,False,sooo sad,sooo sad,sooo sad,2,3
2,088c60f138,my boss is bullying me...,bullying me,negative,my boss is bullying me...,bullying me,False,bullying,bullying me,bullying me,2,2
3,9642c003ef,what interview! leave me alone,leave me alone,negative,what interview! leave me alone,leave me alone,False,leave me alone,leave me alone,leave me alone,3,3
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,"Sons of ****, why couldn`t they put them on th...","Sons of ****,",False,"sons of ****,","sons of ****,","sons of ****,",3,4

In [3]:
import sys
sys.path.append('../')
from tools.tokenizers import myRobertaByteLevelBPETokenizer

tokenizer = myRobertaByteLevelBPETokenizer(   
    vocab_file='../inputs/datasets/roberta/tokenizer/vocab.json',
    merges_file='../inputs/datasets/roberta/tokenizer/merges.txt',
    lowercase=True,
    add_prefix_space=True)

# tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

In [4]:
tokenizer.add_tokens([
                '[S]',
                '[PERIOD]',
                '[EXCL]',
                '[QUES]',
            ])

4

In [39]:
trn_df[trn_df.selected_text_lower.str.contains(' \. \.')].query('sentiment != "neutral"').sample(1)

,textID,text,selected_text,sentiment,my_text,my_selected_text,my_text_eq_my_selected_text,predicted_texts,manual_selected_text,selected_text_lower,manual_and_selected_intersection_len,manual_and_selected_tokenized_intersection_len
11986,42df3695a8,"Ppl who smoke pot, are so f . . .n stupid. An ...","Ppl who smoke pot, are so f . . .n stupid. An ...",negative,"Ppl who smoke pot, are so f . . .n stupid. An ...","Ppl who smoke pot, are so f . . .n stupid. An ...",False,stupid.,"ppl who smoke pot, are so f . . .n stupid. an...","ppl who smoke pot, are so f . . .n stupid. an...",14,17

In [40]:
import re

row = trn_df.loc[11986]

tweet_base = re.sub(r' \.', '[S][PERIOD]', row['text'])
tweet_base = re.sub(r'\.', '[PERIOD]', tweet_base)
tweet_base = re.sub(' !', '[S][EXCL]', tweet_base)
tweet_base = re.sub('!', '[EXCL]', tweet_base)
tweet = " " + " ".join(tweet_base.split())
selected_text_base = re.sub(r' \.', '[S][PERIOD]', row['selected_text'])
selected_text_base = re.sub(r'\.', '[PERIOD]', selected_text_base)
selected_text_base = re.sub(' !', '[S][EXCL]', selected_text_base)
selected_text_base = re.sub('!', '[EXCL]', selected_text_base)
selected_text = " " + " ".join(selected_text_base.split())

In [41]:
print(row['text'])
print(tweet)
print(row['selected_text'])
print(selected_text)

Ppl who smoke pot, are so f . . .n stupid. An instant turn off. drugs in general. why? seriously! ! ! why?
 Ppl who smoke pot, are so f[S][PERIOD][S][PERIOD][S][PERIOD]n stupid[PERIOD] An instant turn off[PERIOD] drugs in general[PERIOD] why? seriously[EXCL][S][EXCL][S][EXCL] why?
Ppl who smoke pot, are so f . . .n stupid. An instant turn off.
 Ppl who smoke pot, are so f[S][PERIOD][S][PERIOD][S][PERIOD]n stupid[PERIOD] An instant turn off[PERIOD]

In [43]:
tokenizer.encode(selected_text).tokens

['Ġp',
 'pl',
 'Ġwho',
 'Ġsmoke',
 'Ġpot',
 ',',
 'Ġare',
 'Ġso',
 'Ġf',
 '[S]',
 '[PERIOD]',
 '[S]',
 '[PERIOD]',
 '[S]',
 '[PERIOD]',
 'Ġn',
 'Ġstupid',
 '[PERIOD]',
 'Ġan',
 'Ġinstant',
 'Ġturn',
 'Ġoff',
 '[PERIOD]']

In [62]:
tokenizer.encode('-').tokens

['Ġ-']

In [65]:
tokenizer.encode('^').ids

[37249]

In [50]:
tokenizer.decode([0])

'<s>'

In [46]:
a = re.sub('\[S\]', ' ', selected_text) 
re.sub('\[PERIOD\]', '.', a)

' Ppl who smoke pot, are so f . . .n stupid. An instant turn off.'

In [54]:
model = RobertaModel.from_pretrained('roberta-base')

In [61]:
model.embeddings.word_embeddings.weight.data.clone()

tensor([[ 0.1476, -0.0365,  0.0753,  ..., -0.0023,  0.0172, -0.0016],
        [ 0.0156,  0.0076, -0.0118,  ..., -0.0022,  0.0081, -0.0156],
        [-0.0347, -0.0873, -0.0180,  ...,  0.1174, -0.0098, -0.0355],
        ...,
        [ 0.0304,  0.0504, -0.0307,  ...,  0.0377,  0.0096,  0.0084],
        [ 0.0623, -0.0596,  0.0307,  ..., -0.0920,  0.1080, -0.0183],
        [ 0.1259, -0.0145,  0.0332,  ...,  0.0121,  0.0342,  0.0168]])

## whole dataset

In [68]:
df = pd.read_csv('../inputs/datasets/w_private/tweet_sentiment_origin_merged.csv')
display(df.shape, df.head())

(39934, 4)

,sentiment,text,old_text,textID
0,empty,i know i was listenin to bad habit earlier a...,@tiffanylue i know i was listenin to bad habi...,NaN
1,sadness,Layin n bed with a headache ughhhh...waitin o...,Layin n bed with a headache ughhhh...waitin o...,c811396dc2
2,sadness,Funeral ceremony...gloomy friday...,Funeral ceremony...gloomy friday...,9063631ab1
3,enthusiasm,wants to hang out with friends SOON!,wants to hang out with friends SOON!,2a815f151d
4,neutral,We want to trade with someone who has Houston...,@dannycastillo We want to trade with someone w...,82565a56d3

In [69]:
df.sentiment.value_counts()

neutral       8588
worry         8456
happiness     5208
sadness       5162
love          3841
surprise      2187
fun           1776
relief        1526
hate          1323
empty          819
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [74]:
sentiment_map_dict = {
    'neutral': 'neutral',
    'worry': 'negative',
    'happiness': 'positive',
    'sadness': 'negative',
    'love': 'positive',
    'surprise': 'positive',
    'fun': 'positive',
    'relief': 'positive',
    'hate': 'negative',
    'empty': 'negative',
    'enthusiasm': 'positive',
    'boredom': 'negative',
    'anger': 'negative',
}

df = df.rename(columns={'sentiment': 'original_sentiment'})
df['sentiment'] = df.original_sentiment.map(sentiment_map_dict)
df.sentiment.isnull().mean()

0.0

In [75]:
df.head()

,original_sentiment,text,old_text,textID,sentiment
0,empty,i know i was listenin to bad habit earlier a...,@tiffanylue i know i was listenin to bad habi...,NaN,negative
1,sadness,Layin n bed with a headache ughhhh...waitin o...,Layin n bed with a headache ughhhh...waitin o...,c811396dc2,negative
2,sadness,Funeral ceremony...gloomy friday...,Funeral ceremony...gloomy friday...,9063631ab1,negative
3,enthusiasm,wants to hang out with friends SOON!,wants to hang out with friends SOON!,2a815f151d,positive
4,neutral,We want to trade with someone who has Houston...,@dannycastillo We want to trade with someone w...,82565a56d3,neutral

In [76]:
df.sentiment.value_counts()

negative    16049
positive    15297
neutral      8588
Name: sentiment, dtype: int64

In [78]:
df['textID'] = df['textID'].fillna('private')

In [79]:
df.to_csv('../inputs/datasets/w_private/tweet_sentiment_origin_merged_guchio.csv', index=False)

In [71]:
import sys
sys.path.append('../')
from tools.tokenizers import myRobertaByteLevelBPETokenizer

tokenizer = myRobertaByteLevelBPETokenizer(   
    vocab_file='../inputs/datasets/roberta/tokenizer/vocab.json',
    merges_file='../inputs/datasets/roberta/tokenizer/merges.txt',
    lowercase=True,
    add_prefix_space=False)

# tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

In [72]:
sentiments = df.sentiment.unique()
for sentiment in sentiments:
    print(f' ------- sentiment: {sentiment} ------- ')
    print(f'{tokenizer.encode(sentiment).ids}')
    print(tokenizer.encode(f' {sentiment}').ids)

[41486]
[5802]
[29, 625, 1825]
[17437]
[1342, 25134, 43586]
[11240]
[12516]
[7974]
[605, 17649]
[4022]
[12557, 22627]
[2755]
[17693]
[657]
[18317]
[1531]
[33990]
[4157]
[298, 37055]
[11098]
[428, 3995, 1075]
[40326]
[5982, 14134]
[3500]
[8395]
[6378]

In [81]:
from transformers import RobertaTokenizer
a = RobertaTokenizer.from_pretrained('roberta-base')

In [82]:
a.special_tokens_map

{'bos_token': '<s>',
 'eos_token': '</s>',
 'unk_token': '<unk>',
 'sep_token': '</s>',
 'pad_token': '<pad>',
 'cls_token': '<s>',
 'mask_token': '<mask>'}

In [83]:
a.encode('<mask>')

[0, 50264, 2]

In [84]:
a.decode([50264])

'<mask>'

In [85]:
a.decode([0, 1, 2])

'<s><pad></s>'